img{
    width: 350px;
    height: 250px;
    border-radius: 3px;
}
#child1, #child2, #child3{
    display: inline-block;
    border: 2px solid cyan;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: -10px -10px 14px rgb(93, 206, 244), 10px 10px 15px rgb(240, 105, 247);
}

body{
    background-color: black;
    color: white;
}
#parent{
    padding: 100px 0 0 70px;
    text-align: center;
}

button{
    padding: 10px;
}