body{
    text-align: center;
    padding-top: 70px;
    /* background: linear-gradient(to bottom, rgb(230, 232, 115), purple); */
    background: black;
}

#main1, #main2, #main3{
    display: inline-block;
    border: 2px solid rgb(106, 219, 232);
    color: white;
    border-radius: 10px;
    margin-right: 30px;
    padding: 20px;
    box-shadow: -10px -10px 15px rgba(98, 207, 226, 0.8), 10px 10px 15px rgba(233, 140, 224, 0.8);
}

img{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
button{
    padding: 13px;
}